version: 2 # use CircleCI 2.0
jobs: # a collection of steps

  clamav:
    working_directory: ~/enebular-node-red
    docker: # run the steps with Docker
      - image: circleci/node
    steps:
      - checkout
      - run:
          name: cramAV test
          command: |
            sudo apt-get -y update
            sudo apt-get -y install clamav
            sudo freshclam
            sudo clamscan --infected --remove --recursive ~/enebular-node-red

workflows:
  version: 2
  issue-9:
    jobs:
      - clamav
  feature/update-to-0.18.X:
    jobs:
      - clamav